.icon-button {
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  transition: border-color 0.2s ease;
  cursor: pointer;
  width: 54px;
  height: 54px;
}

.icon-button--primary {
  background-color: var(--color-white);
  border: 1px solid var(--color-border-light);
  color: var(--color-primary);
}

.icon-button--primary:hover {
  border-color: var(--color-info-300);
}

.icon-button--secondary {
  background-color: var(--color-white);
  border: 1px solid var(--color-white-100);
  color: var(--color-white);
}

.icon-button--secondary:hover {
  border-color: var(--color-white-300);
}

.icon-button--solid {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
}

.icon-button--solid:hover {
  background-color: var(--color-primary-dark);
}

.icon-button:disabled,
.icon-button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.icon-button:disabled:hover,
.icon-button:disabled:hover {
  border-color: var(--color-border-light);
  background-color: transparent;
}

.icon-button--solid:disabled,
.icon-button--solid[disabled] {
  background-color: var(--color-primary) !important;
}
