.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.actions-container .action {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: border-color 0.2s ease;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
}

.actions-container .action--info {
  background-color: var(--color-info-100);
  color: var(--color-primary);
}

.actions-container .action--info:hover {
  background-color: var(--color-info-400);
  color: var(--color-white);
}

.actions-container .action--edit {
  background-color: var(--color-success-light);
  color: var(--color-success);
}

.actions-container .action--edit:hover {
  background-color: var(--color-success-dark);
  color: var(--color-white);
}

.actions-container .action--delete {
  background-color: var(--color-danger-light);
  color: var(--color-danger);
}

.actions-container .action--delete:hover {
  background-color: var(--color-danger-dark);
  color: var(--color-white);
}
