.app-template {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.app-template .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.user-menu-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
