.register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register .container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100vh;
}

.register .container .left-panel {
  background: #283593;
  background-attachment: fixed;
  background-image: url("../images/intro.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex: 0.5;
}

.register .container .right-panel {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 60%;
}

.form .title {
  font-size: 1.5em;
  font-weight: bold;
  color: #283593;
}

.form .description {
  font-size: 1em;
  color: #666666;
  margin-bottom: 16px;
}

.register-link {
  margin-top: 8px;
  font-size: 0.9em;
  color: #666666;
  text-decoration: none;
  margin: auto;
}

.register-link a {
  color: #283593;
  text-decoration: none;
  font-weight: bold;
  margin-left: 4px;
}

@media (max-width: 960px) {
  .register .container .left-panel {
    display: none;
  }

  .register .container .right-panel {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .right-panel .form {
    width: 80%;
  }
}
