.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e1e1e1;
}

.single-section {
  grid-column: span 1;
}

.expanded-section {
  grid-column: span 2;
}
