.button {
  display: inline-block;
  background: transparent;
  border-radius: 3em;
  padding: 1.25em 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25em;
  font-size: 0.7em;
  transition: border-color 0.2s ease;
  cursor: pointer;
}

.button--primary {
  background-color: transparent;
  border: 1px solid rgba(40, 53, 147, 0.15);
  color: #283593;
}

.button--primary:hover {
  border-color: rgba(40, 53, 147, 0.55);
}

.button--secondary {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.button--secondary:hover {
  border-color: rgba(255, 255, 255, 0.55);
}

.button--solid {
  background-color: #283593;
  border: none;
  color: #ffffff;
}

.button--solid:hover {
  background-color: #1c258c;
}

.button--danger {
  background-color: #f44336;
  border: none;
  color: #ffffff;
}

.button--danger:hover {
  background-color: #d32f2f;
}

.button:disabled,
.button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.button:disabled:hover,
.button[disabled]:hover {
  border-color: rgba(40, 53, 147, 0.15);
  background-color: transparent;
}

.button--solid:disabled,
.button--solid[disabled] {
  background-color: #283593 !important;
}
