.verify-email {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-email .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 16px;
  width: 25%;
  height: 100vh;
}

.container .title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
}

.container .description {
  font-size: 1em;
  color: var(--color-gray-600);
  margin-bottom: 16px;
  text-align: center;
}

@media (max-width: 960px) {
  .verify-email .container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .verify-email .container {
    width: 80%;
  }
}
